body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(35, 80, 22);
    color: white;
    padding: 1rem;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 15px;
}

nav a:hover {
    text-decoration: underline rgb(241, 245, 241);
    font-weight: bolder;
    transition: all 0.3s;
}

main {
    padding: 20px;
}

.service {
    background-color: white;
    border-radius: 10px; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
    margin: 20px 0;
    padding: 20px; 
    transition: transform 0.3s; 
}

.service:hover {
    transform: scale(1.02);
}

.service h2 {
    color: rgb(13, 14, 13);
    margin-bottom: 10px; 
}

.service p {
    line-height: 1.6;
    color: rgb(7, 7, 7);
}

footer {
    background-color: rgb(35, 80, 22);
    color: white;
    text-align: center;
    padding: 1rem;
    position: relative;
    bottom: 0;
    width: 100%;
}

.espacio {
    margin: 15px 0; 
}

.buttonn{
    background-color: rgb(35, 80, 22); 
    color: white; 
    padding: 10px 15px;
    border-radius: 5px; 
    text-align: center; 
    margin-top: 10px;
    display: inline-block; 
    transition: background-color 0.3s; 
}

.buttonn:hover {
    background-color: rgb(28, 60, 17); 
}